# Hidden directories or files
.cache
.cmake
.config
.gnupg
.local
.vscode-server
.bash_history
.bashrc
.gitconfig
.profile
.wget-hsts
.gmshrc
.lesshst
.dotnet
.fltk

# Docker volume
shared/

# Dependent files
examples/*/*.msh
examples/*/*.npy
examples/*/export/
examples/*/logs

# Cache
examples/*/__pycache__