notebook
jupyterlab
jupyter-book
jupyterlab-lsp
jupyterlab-git
jupyter-collaboration
jupyterlab-link-share
jupyterlab_vpython
vpython
ipython
pyvista
pandas
matplotlib
numpy
scipy
ghp-import
RISE
pylint
autopep8
python-lsp-server
pyright
nb-js-diagrammers